@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

section {
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Oswald', sans-serif; }

section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #490eec;
  opacity: .1; }

a {
  text-decoration: none; }

body, html {
  overflow-x: hidden; }

.navbar {
  border-bottom: 1.5px solid #fff; }
  .navbar .container-nav {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 2rem;
    position: relative; }
  .navbar .navbar-brand {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase; }
  .navbar button {
    display: none; }
  .navbar .collaps {
    margin: auto 0; }
  .navbar .navbar-nav {
    display: flex; }
  .navbar .nav-item {
    list-style: none;
    margin: 0 1rem; }
  .navbar .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem; }

.active-navToggle .collaps {
  height: 100% !important;
  overflow: visible !important; }

.active-navToggle .navbar-nav {
  display: block !important;
  transition: all 1s; }

.active-navToggle .nav-item {
  margin: 1rem !important;
  transition: all 1s; }

.mobile-btns {
  padding: .5rem 1rem;
  border-bottom: 1px solid #fff;
  display: none; }
  .mobile-btns ul {
    display: flex;
    justify-content: space-between; }
    .mobile-btns ul li a {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: .4rem; }
    .mobile-btns ul li .active {
      border-bottom: 4px solid #490eec; }

.main-body {
  position: relative;
  margin: 4rem 0; }
  .main-body .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 4rem; }
  .main-body .earth-body {
    display: grid;
    grid-template-columns: 50% 50%; }
    .main-body .earth-body .image {
      width: 100%;
      margin: auto 0; }
      .main-body .earth-body .image img {
        width: 25rem;
        height: 25rem;
        float: right;
        border-radius: 50%;
        margin-right: 2rem; }
    .main-body .earth-body .text {
      margin-left: 3rem; }
      .main-body .earth-body .text .para-text h1 {
        color: #fff;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 400; }
      .main-body .earth-body .text .para-text p {
        color: rgba(255, 255, 255, 0.39);
        font-size: 1rem;
        padding: 1rem 0;
        font-weight: 400; }
      .main-body .earth-body .text .para-text .source {
        color: rgba(255, 255, 255, 0.171);
        display: inline-block; }
        .main-body .earth-body .text .para-text .source a {
          padding-left: 1rem;
          text-decoration: underline;
          color: rgba(255, 255, 255, 0.39);
          display: inline-block;
          margin-right: .3rem;
          position: relative; }
          .main-body .earth-body .text .para-text .source a span {
            padding-left: .3rem;
            position: absolute;
            top: .3rem; }
      .main-body .earth-body .text .btn {
        margin-top: 3rem; }
        .main-body .earth-body .text .btn .active {
          background-color: #c503f5;
          border: #c503f5; }
        .main-body .earth-body .text .btn a {
          display: block;
          color: rgba(255, 255, 255, 0.39);
          padding: .5rem 1rem;
          border: 1px solid rgba(255, 255, 255, 0.39);
          margin: 1rem 0; }
          .main-body .earth-body .text .btn a span {
            color: #fff;
            font-size: .9rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-left: 1rem; }

.footer {
  padding-bottom: 2rem;
  position: relative; }
  .footer .container {
    max-width: 1050px;
    margin: 2rem auto;
    padding: 0 4rem; }
    .footer .container .main {
      display: grid;
      grid-template-columns: 25.5% 25.5% 25.5% 25%; }
      .footer .container .main div {
        border: 1px solid rgba(255, 255, 255, 0.39);
        margin-right: 2rem;
        padding: 1rem; }
        .footer .container .main div h3 {
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.39);
          font-size: .8rem;
          font-weight: 400; }
        .footer .container .main div h1 {
          text-transform: uppercase;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 500; }

@media screen and (max-width: 1100px) {
  .navbar .navbar-brand {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .navbar .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem; } }

@media screen and (max-width: 990px) {
  .navbar .nav-item {
    list-style: none;
    margin: 0 .7rem; }
  .main-body .earth-body .image img {
    width: 22rem;
    height: 22rem; } }

@media screen and (max-width: 920px) {
  .navbar .container-nav {
    display: block;
    text-align: center; }
  .navbar .navbar-brand {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase; }
  .navbar .collaps {
    margin: auto 0;
    margin-top: 1rem; }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-between; }
  .main-body .container {
    padding: 0 2rem; }
  .main-body .earth-body {
    display: grid;
    grid-template-columns: 100%; }
    .main-body .earth-body .image {
      width: 100%;
      text-align: center;
      position: relative;
      margin-bottom: 5rem; }
      .main-body .earth-body .image img {
        width: 20rem;
        height: 20rem;
        float: none;
        border-radius: 50%;
        margin-right: 0rem; }
    .main-body .earth-body .text {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-left: 0; }
      .main-body .earth-body .text .para-text {
        margin-right: 2rem; }
  .footer .container {
    padding: 0 2rem; } }

@media screen and (max-width: 645px) {
  .navbar .container-nav {
    padding: 1rem; } }

@media screen and (max-width: 610px) {
  .navbar .container-nav {
    text-align: left;
    margin: auto 0; }
    .navbar .container-nav .navbar-brand {
      margin-left: .5rem; }
    .navbar .container-nav .collaps {
      height: 0rem;
      overflow-y: hidden; }
    .navbar .container-nav button {
      display: block;
      float: right;
      background-color: transparent;
      border: transparent;
      fill: #fff;
      margin-top: 1rem; }
  .mobile-btns {
    display: block; }
  .main-body .earth-body .text {
    grid-template-columns: 100%; }
    .main-body .earth-body .text .para-text {
      text-align: center; }
    .main-body .earth-body .text .btn {
      display: none; }
  .footer .main {
    grid-template-columns: 100% !important; }
    .footer .main div {
      display: flex;
      justify-content: space-between;
      margin-right: 0 !important;
      margin-bottom: 1rem; }
      .footer .main div h3 {
        margin: auto 0; } }

@media screen and (max-width: 388px) {
  .mobile-btns ul a {
    font-size: 1rem !important; }
  .main-body .earth-body .image img {
    width: 17rem;
    height: 17rem; } }

@media screen and (max-width: 335px) {
  .main-body .earth-body .image img {
    width: 15rem;
    height: 15rem; }
  .footer .main div h1 {
    font-size: 1.2rem !important; } }
